<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic TODO List web application</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    {% load socialaccount %}
    <link rel="stylesheet" href="{% static 'TODOlist_app/style.css' %}">
    <script src="https://kit.fontawesome.com/cbd4c74f94.js" crossorigin="anonymous"></script>
</head>
<body>


<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'TODOlist_app:index' %}" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>


            <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <button type="button" onclick="window.location.href={% url 'TODOlist_app:add_list' %};"
                        class="btn btn-outline-light me-2 btn-success">Add TODO card
                </button>
                <button type="button" onclick="window.location.href={% url 'TODOlist_app:del_list' %};"
                        class="btn btn-outline-light me-2 btn-danger">Delete TODO card
                </button>
            </div>
            <div class="text-end">

                {% if user.is_authenticated %}
                    Welcome, You are logged in as <span class="text-success">{{ user.username }}</span>
                        <a class="btn btn-outline-light me-2" href="{% url 'users:logout' %}">Logout</a>

                {% else %}
                    <a class="btn btn-outline-light me-2" href="{% url 'users:login' %}">Login</a>
                    <a class="btn btn-warning" href="{% url 'users:register' %}">Sign-up</a>
                {% endif %}

            </div>
        </div>
    </div>
</header>
<div class="nav-divider"></div>


{% block content %}

{% endblock content %}


</body>
</html>