{% extends 'TODOlist_app/base.html' %}


{% block content %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card border shadow p-3 mb-5 bg-white">
                <div class="card-body">
                    <h4 class="card-title">New TODO list</h4>
                    <form action="{% url 'TODOlist_app:edit_title' title_id %}" method='POST'>
                        {% csrf_token %}
                        {{ form_editTitle.as_p }}
                        <button type="submit" name="btn_edit_title_submit" class="btn btn-success btn-sm">
                            Save
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}