{% extends 'TODOlist_app/base.html' %}


{% block content %}


{% verbatim %}
<!--<p>{{ overall_list }}</p>-->

<!--{% for titles, todos in overall_list.items %}-->

<!--<p>{{ titles.title }}</p>-->

<!--{% for todo in todos %}-->
<!--<p>{{ todo.todo_text }}</p>-->
<!--{% endfor %}-->

<!--{% endfor %}-->
{% endverbatim %}


<div class="container">

    <div class="row d-flex">


        {% for titles, todos in overall_list.items %}
        <!--Individual TODO_item card-->
        <div class="col-3">
            <div class="card border shadow p-3 mb-5 bg-white">
                <div class="card-body">
                    <h4 class="card-title">{{ titles.title }}</h4>
                    <p class="card-subtitle mb-2 text-muted">{{ item.date_added }}</p>
                    {% if not todos_list %}
                    <p class="lead">Insert first ToDo record!</p>
                    {% endif %}


                </div>
                {% for todo in todos %}
                <ul class="list-group list-group-flush border-0">
                    <li class="list-group-item lead">
                        {{todo.todo_text}} {{todo.order_num}}
                        <form action="{% url 'TODOlist_app:index' %}" method='POST'>
                            {% csrf_token %}
                            <input type="submit" name="{{ titles.title }},{{todo.order_num}}" value='↑'
                                   class="btn btn-outline-primary btn-sm" ;>
                            <input type="submit" name="{{ titles.title }},{{todo.order_num}}" value='↓'
                                   class="btn btn-outline-primary btn-sm" ;>
                            <input type="submit" name="{{ titles.title }},{{todo.order_num}}" value='☓'
                                   class="btn btn-outline-danger btn-sm" ;>
                        </form>
                    </li>
                </ul>
                {% endfor %}

                <!--        Input new todo_item card-->
                <form action="{% url 'TODOlist_app:index' %}" method='POST'>
                    {% csrf_token %}
                    {{ form_input.as_p }}
                    <button type="submit" name="btn_add_entry" class="btn btn-success btn-sm lead">Add entry
                    </button>
                </form>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

{% endblock content %}